@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@theme {
  --color-gray-50: #FAFAFA;
  --color-gray-300: #DFDFDF;
  --color-gray-600: #434343;
}

:root {
  --background: #EDEDED;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td.sticky {
  position: sticky;
  z-index: 2;
  left: 0;
}
td {
  background: #FFFFFF;
  border: 1px solid #DCDFE2;
}

tr:nth-child(odd) td {
  background: #F6F8FA;
}

.MuiAutocomplete-inputRoot fieldset {
  border-color: var(--color-gray-300);
}

.MuiAutocomplete-inputRoot {
  background-color: var(--color-gray-50);
}

.MuiAutocomplete-input {
  color: var(--color-gray-600);
}

.MuiAutocomplete-input::placeholder {
  opacity: 1;
}
