@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@theme {
  --color-primary: var(--mui-palette-primary-main);
  --color-gray-50: #FAFAFA;
  --color-gray-100: #F6F8FA;
  --color-gray-150: #EDEDED;
  --color-gray-200: #DCDFE2;
  --color-gray-300: #DFDFDF;
  --color-gray-500: #545454;
  --color-gray-600: #434343;
  --radius-sm: 3px;
  --text-sm: 13px;
}

body {
  background: var(--color-gray-150);
}

/* table styles */
table {
  border-collapse: separate;
  border-spacing: 0;
}

td.sticky {
  position: sticky;
  z-index: 2;
  left: 0;
}
td {
  background: var(--color-white);
  border: 1px solid var(--color-gray-200);
}

tr:nth-child(odd) td {
  background: var(--color-gray-100);
}

/* MUI customization */
.MuiAutocomplete-inputRoot fieldset {
  border-color: var(--color-gray-300);
}

.MuiAutocomplete-inputRoot {
  background-color: var(--color-gray-50);
}

.MuiAutocomplete-input {
  color: var(--color-gray-600);
}

.MuiAutocomplete-input::placeholder {
  opacity: 1;
}

.MuiButton-root {
  padding: 8px 12px;
  border-radius: var(--radius-sm);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-semibold);
}

.MuiInputBase-colorPrimary.MuiSelect-root {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-semibold);
  border-radius: var(--radius-sm);
}

.MuiInputBase-colorPrimary.MuiSelect-root fieldset {
  border-color: var(--color-primary);
}

.MuiInputBase-colorPrimary.MuiSelect-root svg {
  color: var(--color-white);
}

.MuiChartsLegend-root {
  margin: 0 100px;
}

.MuiBarChart-element {
  fill-opacity: 0.3;
  stroke: currentColor;
}

.MuiAutocomplete-popupIndicatorOpen {
  transform: none;
}
